.options-bar {
    padding: 19px 20px;
    display: flex;
    justify-content: space-between;
}

.right-items {
    display: flex;
    position: relative;
}

#add-contact-button-small {
    display: none;
}

@media (max-width: 961px) {
    .options-bar {
        display: block;
    }

    .right-items {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    #add-contact-button {
        display: none;
    }

    #add-contact-button-small {
        display: block;
    }
}
