/* Person page styling */
.person {
    background-color: white;
    width: 97%;
    padding: 1em 2em;
    border-radius: 90px;
    margin: 10px 20px;
  }
  .name { width: 20%; }
  .email { width: 20%; }
  .phone { width: 20%; }
  .edit { width: 20%; }

  .contact-card {
      height: 200px;
      width: 400px;
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
      border: 3px solid green;
      background: gray;
  }