.profile-content {
    padding: 35px 25px;
}

.form {
    display: flex;
}

.col {
    width: 535px;
    padding: 0;
}

.left-col {
    padding-right: 12.5px;
}

.right-col {
    padding-left: 12.5px;
}

@media (max-width: 840px) {
    .form {
        display: block;
    }

    .col {
        width: 100%;
    }
}

.form button {
    position: relative;
    right: 0;
}

.profile-photo {
    width: 170px;
    height: 170px;
    border-radius: 85px;
}

.profile-photo:hover {
    background-color: black;
    cursor: pointer;
}

img:hover {
    opacity: 0.7;
}

img {
    width: 170px;
    height: 170px;
    border-radius: 85px;
    border: 2px solid var(--light-blue-100);
}

.profile-photo-row {
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    justify-content: center;
    display: flex;
}

.overlay-icon {
    display: none;
    color: white;
    opacity: 0.8;
    font-size: 50px;
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img:hover + .overlay-icon {
    display: block;
}
