.profile-content {
    padding: 35px 15px;
}

.form {
    display: flex;
}

.col {
    width: 535px;
}

@media (max-width: 840px) {
    .form {
        display: block;
    }
}

.form button {
    position: relative; 
    right: 0;
}

.profile-photo {
    width: 170px;
    height: 170px;
    border-radius: 85px;
}

.profile-photo-row {
    width: 100%;
    text-align: center;
}
