/* Define Light Theme Styling */
body {
    --text-color: #black;
    --colour-0-colour: white;
    --colour-1-colour: #dde8fd;
    --dropdown-content-bk-color: white;
}

/* Define Dark Theme Styling */
body.dark-theme {
    --text-color: #c3d3fa;
    --colour-0-colour: gray;
    --colour-1-colour: #4d4d4d;
    --dropdown-content-bk-color: lightgray;
}

/* Person page styling */
.person {
    justify-content: space-between;
    width: 97%;
    padding: 0.5em 2em;
    border-radius: 90px;
    margin: 10px 20px;
    color: var(--text-color);
}

.person div {
    margin: auto;
}

.color-0 { background-color: var(--colour-0-colour); }
.color-1 { background-color: var(--colour-1-colour); }

.w-15 { width: 15%; }
.w-10 { width: 10%; }
.w-5 { width: 30px; }
.w-2 { width: 30px; }


.contacts-header {
    color: var(--text-color);
}

.contact-card {
    height: 200px;
    width: 400px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid green;
    background: gray;
}

.initials {
    background-color: #c3d3fa;
    color: #5d5fef;
    padding: 5px;
    border-radius: 90%;
    text-align: center;
}

.searchbar {
    padding: 0em 2em;
    width: 75%;
}

.dropdown-box {
    padding: 0em 2em;
    width: 25%;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    position: relative;
}

.dropbtn {
    background-color: #c3d3fa;
    width: 100%;
    border-radius: 5px;
}

.dropdown-content {
    position: absolute;
    text-align: center;
    padding: .5rem;
    width: 85%;
}

.dropdown-content button {
    width: 100%;
    text-align: left;
    padding: 1rem;
    background-color: var(--dropdown-content-bk-color);
}

.dropdown-content button:hover {
    background-color: lightgray;
}