/* Define Light Theme Styling */
body {
    --text-color: #black;
    --colour-0-colour: white;
    --colour-1-colour: #dde8fd;
    --dropdown-content-bk-color: white;
}

/* Define Dark Theme Styling */
body.dark-theme {
    --text-color: #c3d3fa;
    --colour-0-colour: gray;
    --colour-1-colour: #4d4d4d;
    --dropdown-content-bk-color: lightgray;
}

/* Person page styling */
.person {
    padding: 0em 0em;
    border-radius: 23px;
    margin: 10px 20px;
    color: var(--text-color);
    height: 46px;
    display: flex;
    min-width: 100%;
    width: fit-content;
    justify-content: space-between;
}

.row-left {
    display: flex;
    justify-content: flex-start;
}

a {
    color: var(--text-color);
}

a:hover {
    color: var(--text-color);
}

.person div {
    margin: auto;
    margin-right: 15px;
    margin-left: 5px;
}

.color-0 {
    background-color: var(--colour-0-colour);
}
.color-1 {
    background-color: var(--colour-1-colour);
}

.contacts-table {
    overflow-x: scroll;
    margin-right: 20px;
}

.row-item {
    flex-wrap: nowrap;
    padding: 0;
    backgorund: orange;
}

.w-name {
    min-width: 250px;
    width: 250px;
}

.w-phone {
    min-width: 200px;
    width: 200px;
}

.w-edit {
    min-width: 50px;
    width: 50px;
}

.w-15 {
    min-width: 350px;
    width: 350px;
}
.w-10 {
    min-width: 250px;
    width: 250px;
}
.w-5 {
    min-width: 50px;
    width: 50px;
    margin: 0;
}
.w-2 {
    min-width: 50px;
    width: 50px;
}

.contacts-header {
    color: var(--text-color);
}

.contact-card {
    height: 200px;
    width: 400px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid green;
    background: gray;
}

.initials {
    background-color: #c3d3fa;
    color: #5d5fef;
    padding: 5px;
    border-radius: 90%;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 22px;
    font-size: 14px;
}

#row-profile-icon {
    width: 30px;
    height: 30px;
    border: none;
    margin-left: -5px;
    margin-top: -5px;
}

.searchbar {
    padding: 0em 10px 0px 20px;
    width: 100%;
}

.dropdown-box {
    padding: 0em 20px 0px 10px;
    width: 150px;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    position: relative;
}

.dropbtn {
    background-color: var(--selected-bg);
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px 0px;
    color: var(--two-select-text-color);
    font-size: 14px;
}

.dropbtn:hover {
    background-color: var(--deselected-bg);
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    text-align: center;
    padding: 0.5rem 0;
    width: 150px;
    margin-left: -40px;
    border-radius: 5px;
    background-color: var(--dropdown-content-bk-color);
}

.dropdown-content button {
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    font-size: 14px;
    background-color: var(--dropdown-content-bk-color);
}

.dropdown-content button:hover {
    background-color: var(--light-blue-100);
    color: var(--iris-100);
}

.edit-button {
    text-align: center;
    border-radius: 5px;
    margin: auto;
    font-size: 14px;
    padding: 3px 0px;
    background-color: var(--selected-bg);
    color: var(--two-select-text-color);
    border: 1px solid var(--border-color);
}

.edit-button:hover {
    cursor: pointer;
    background-color: var(--deselected-hover-bg);
}

.sortable:hover {
    cursor: pointer;
}
