/* Define Light Theme Colours */
body {
    --contact-card-bg: var(--light-blue-60);
    --contact-card-text: var(--bkg-color);
} 

/* Define Dark Theme Colours */
body.dark-theme {
    --contact-card-bg: gray;
    --contact-card-text: red;
}

/* Define Elements */
.edit-contact-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.edit-contact-card {
    background-color: var(--contact-card-bg);
    
    padding: 20px;
    width: 60%;
    border-radius: 5px;
    max-height: 80vh;
    overflow-y: scroll;
}

.edit-contact-card text {
    color: var(--contact-card-tex);
}

.edit-contact-card.dark-theme {
    background-color: var(--light-blue-60);
    padding: 20px;
    width: 60%;
    border-radius: 5px;
    max-height: 80vh;
    overflow-y: scroll;
}

.form-area {
    padding: 15px;
    overflow-y: scroll;
    max-height: 60vh;
}

.large-profile-initials {
    height: 100px;
    width: 100px;
    background-color: #c3d3fa;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}

.edit-contact-row {
    text-align: right;
}

@media (max-width: 961px){
    .edit-contact-card {
        width: 80%;
    }
}

@media (max-width: 481px){
    .edit-contact-card {
        width: 90%;
    }
}