.topContainer {
    column-count: 3;
    display: flex;
    flex-direction: row;
    place-items: center start;
    flex-wrap: wrap;
}

.rcorners {
    border-radius: 5px;
    background: #fff;
    padding: 20px;
    width: 425px;
    height: 80px;
    margin: 10px 20px;
    box-shadow: 5px 5px 25px var(--light-shadow);
}

.dot {
    height: 30px;
    width: 30px;
    background-color: #c3d3fa;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.padded {
    margin-left: 20px;
}

.top {
    margin-top: -10px;
}

.space {
    margin-top: 5px;
}

.centeredInDot {
    margin-top: 2.5px;
    color: #7879f1;
}

.subText {
    background: var(--light-blue-40);
}

.title {
    color: #222529;
    font-weight: bold;
    font-size: 26pt;
}

.lb100{
    background-color: #c3d3fa;
}