header {
    top: 0;
    padding: 15px 15px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
}

.header-content {
    padding-left: 40px;
    display: flex;
    background-color: white;
    height: 50px;
    padding: 10px 15px;
    border-radius: 25px;
    justify-content: space-between;
    box-shadow: 5px 5px 25px var(--light-shadow);
}

.left-header a {
    font-size: 26px;
    line-height: 30px;
}

.right-header {
    display: flex;
}

.icon {
    font-size: 26px;
    line-height: 26px;
    color: var(--light-blue-100);
    border-radius: 15px;
    margin-right: 30px;
}

.icon.on {
    color: var(--iris-80);
}

.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid var(--light-blue-100);
}

.icon:hover {
    cursor: pointer;
    color: var(--iris-80);
    animation: textColorChange 1s;
}

.icon.off:active,
.icon.on:active {
    transition: opacity 0.5s, transform 0.5s;
    transform: rotate(-180deg) scale(0.5);
    opacity: 0;
}

.off:after,
.on:after {
    transition: opacity 0.5s, transform 0.5s;
    transform: scale(0.5) rotate(-180deg) scale(1);
    opacity: 1;
}

.profile-icon.on {
    border: 2px solid var(--iris-80);
}

@keyframes textColorChange {
    from {
        color: var(--iris-60);
    }
    to {
        color: var(--iris-80);
    }
}

.profile-icon:hover {
    cursor: pointer;
    border: 2px solid var(--iris-80);
    animation: borderColorChange 1s;
}

@keyframes borderColorChange {
    from {
        border: 2px solid var(--iris-60);
    }
    to {
        border: 2px solid var(--iris-80);
    }
}

.profile-dropdown {
    text-align: right;
    width: 30px;
}

.profile-dropdown > .dropdown {
    margin: 10px -180px;
}

.notification-dropdown > .dropdown {
    margin: 12px -180px;
}

.dropdown {
    font-size: 14px;
    border-radius: 5px;
    background-color: white;
    width: 200px;
    text-align: left;
    z-index: 1;
    box-shadow: 0px 0px 10px var(--menu-shadow);
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
    color: var(--dark-grey-40);
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

.dropdown a {
    color: var(--dark-grey-40);
}

.dropdown a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 10px 15px;
}

.inactive {
    display: none;
}

li:hover {
    cursor: pointer;
    background-color: var(--light-blue-40);
    color: var(--iris-80);
}

.popularity {
    background: var(--light-blue-100);
    width: 96px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    line-height: 30px;
    color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 25px var(--light-shadow);
}

.popularity:hover {
    animation: colorChange 1s;
    background-color: var(--iris-80);
}

.popularity:hover + .tool-tip {
    display: block;
}

@media (max-width:481px) {
    .popularity {
        display: none;
    }
}

@keyframes colorChange {
    from {
        background-color: var(--iris-60);
    }
    to {
        background-color: var(--iris-80);
    }
}

.tool-tip {
    display: none;
    font-size: 12px;
    width: 200px;
    text-align: left;
    background-color: var(--light-blue-40);
    padding: 5px 10px;
    color: var(--dark-grey-40);
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--menu-shadow);
    border: 1px solid var(--light-grey-80);
    position: relative;
    z-index: 1;
}

.popularity-dropdown {
    text-align: right;
    width: 96px;
    margin-right: 30px;
}
