/* Define Light Theme Colours */
body {
    --selected-bg: white;
    --deselected-bg: var(--light-grey-60);
    --deselected-hover-bg: var(--light-grey-80);
    --border-color: var(--light-grey-80);
    --two-select-text-color:  var(--dark-grey-80);} 

/* Define Dark Theme Colours */
body.dark-theme {
    --selected-bg:  var(--dark-grey-40);
    --deselected-bg: var(--dark-grey-80);
    --deselected-hover-bg: var(--dark-grey-100);
    --border-color: var(--dark-grey-40);
    --two-select-text-color:  white;
}

/* Define Body Elements */
.two-select-button {
    display: flex;
    width: 220px;
    text-align: center;
    font-size: 14px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    
}

.text-color {
    color: var(--two-select-text-color);
}

.two-select-button a {
    text-decoration: none;
    color: var(--two-select-text-color);
}

.left {
    padding: 10px 0px;
    width: 50%;
    border-radius: 5px 0px 0px 5px;
}

.right {
    padding: 10px 0px;
    width: 50%;
    border-radius: 0px 5px 5px 0px;
}

.selected {
    background-color: var(--selected-bg);
    cursor: default;
}

.deselected {
    background-color: var(--deselected-bg);
}

.deselected:hover {
    background-color: var(--deselected-hover-bg);
    cursor: pointer;
}