.body {
  background-color: #EEF2FA;
  position:absolute;
  height: 100%;
  width: 100%;
}

header .icon {
  width: 10%;
}

header .content {
  width: 80%;
  padding-left: 40px;
}

header {
  height: 60px;
  top: 0;
  width: 97%;
  background-color: white;
  padding-top: 20px;
  border-radius: 90px;
  margin: 20px;
}

nav {
  left: 0;
  top: 200;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

footer {
  position: fixed;
  height: 30px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  padding-top: 5px;
}

