@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

:root {
  --light-blue-40: #F8F9FC;
  --light-blue-60: #EEF2FA;
  --light-blue-80: #D9E3FA;
  --light-blue-100: #D9E3FA;

  --light-shadow: #F1F1F1;

  --light-grey-100: #CFD4D9;

  --dark-grey-40: #6E757C;

  --iris-60: #A5A6F6;
  --iris-80: #7879F1;
}

.body {
  background-color: var(--light-blue-60);
  position:absolute;
  height: 100%;
  width: 100%;
  font-family: 'proxima-nova', sans-serif;
  font-size: 16px;
}

header .icon {
  width: 10%;
}

header .content {
  width: 80%;
  padding-left: 40px;
}

header {
  height: 60px;
  top: 0;
  width: 97%;
  background-color: white;
  padding-top: 20px;
  border-radius: 90px;
  margin: 20px;
}

nav {
  left: 0;
  top: 200;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

footer {
  position: fixed;
  height: 30px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  padding-top: 5px;
}

/* Person page styling */
.person {
  background-color: white;
  width: 97%;
  padding: 1em 2em;
  border-radius: 90px;
  margin: 10px 20px;
}
.name { width: 20%; }
.email { width: 20%; }
.phone { width: 20%; }

input, label {
  display: block;
}

input {
  width: 100%;
  padding: 10px 16px; 
  margin: 5px 0;
  border: 1px solid var(--light-blue-60);
  border-radius: 5px;
  box-shadow: 5px 5px 25px var(--light-shadow);
  outline: none;
}

input::placeholder {
  color: var(--light-grey-100);
}

label {
  font-size: 14px;
  color: var(--dark-grey-40);
}

.auth-form {
  width: 80%;
  max-width: 535px; 
  padding: 0;
  display: block;
  margin: 0px auto;
}

.auth-form form {
  margin: 80px 0;
}

.primary-button{
  background-color: var(--iris-60);
  padding: 12px 0px;
  width: 175px;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 25px var(--light-shadow);
}

button.primary-button:hover {
  background-color: var(--iris-80);
}

button.primary-button:disabled {
  background-color: var(--light-grey-100);
  box-shadow: none;
}

.button-row {
  width: 100%;
  text-align: right;
}